body{
	background: #000;
}

canvas{
	border: 1px solid #0021a5;
	display: block;
	margin: 25px auto;
	margin-bottom: 10px;
}

#score, #bestScore{
	color: #fff;
}

#instructions{
	color: #ccc;
	font-size: small;
}
